<div class="col-md-12">
  <h1><%= @post.title %></h1>
  <p>カテゴリ: <%= @post.category %></p>
  <p>投稿日:<%= @post.created_at %></p>
  <hr>
  <p>
    <%= simple_format(@post.body) %>
  </p>
  <hr>
  <%= link_to "編集", edit_post_path(@post), class: "btn btn-default" %>
  <%= link_to "削除", post_path(@post), class: "btn btn-default", method: :delete %>
</div>
